<McoToolConfig
               HOSTNAME="BCNVSRV192"
               BATCHES_FOLDER="D:\McoEasyTool\BatchFiles\"
               LOGS_FOLDER="D:\McoEasyTool\Logs\"
               GENERAL_LOG_FILE="McoEasyTool.csv"
               
               DEFAULT_USERNAME_IMPERSONNATION="SRVEXPLOIT"
               DEFAULT_DOMAIN_IMPERSONNATION="BCNDOMAIN"
               DEFAULT_PASSWORD_IMPERSONNATION="qWvC8moKuXZXxPx4D2xXhQ!!"
               DEFAULT_NUMBER_DECIMAL_SEPARATOR =","
               
               MCO_IMPERSONATOR_TOOL="C:\Program Files (x86)\McoImpersonatorTool\McoImpersonatorTool.exe"
               MCO_SCHEDULER_TOOL="C:\Program Files (x86)\McoSchedulerTool\McoSchedulerTool.exe"
               MAIL_ADDRESS_SENDER="Exploitation-Support@bouygues-construction.com"
               MAIL_HOST_SERVER="vipexch.bouygues-construction.com"
               MAIL_PORT_NUMBER="25"
               
               AD_LOG_FILE="ActiveDirectory.csv"
               AD_RESULTS_FOLDER="D:\McoEasyTool\AdResultFiles\"
               AUTO_AD_LOG_FILE="McoSchedulerTool_ActiveDirectory.csv"
               AD_MAX_REPORT_NUMBER="42"
               
               BESR_MAX_REPORT_NUMBER="21"
               BESR_LOG_FILE="BackupExecRecovery.csv"
               BESR_RESULTS_FOLDER="D:\McoEasyTool\BesrResultFiles\"
               AUTO_BESR_LOG_FILE="McoSchedulerTool_BackupExecRecovery.csv"
               BACKUP_REMOTE_CHECK_SERVER_ROOT_FOLDER="\\BCNVDMPOS1\"
               BACKUP_REMOTE_SERVER_EXEC_ROOT_FOLDER="\\BCNVSRV229\"
               BACKUP_REMOTE_SERVER_EXEC="BCNVSRV229"
               BESR_DEFAULT_INIT_FILE="DefaultInitPools.xlsx"
               BESR_RELATIVE_INIT_FILE="InitPools.xlsx"
               BESR_AUTO_UPDATE_LOG_FILE="McoEasyTool_BESR_Update.csv"
               BESR_DEFAULT_INIT_FILE_README="DefaultInitBesrReadme.xlsx"
               
               APP_MAX_REPORT_NUMBER="21"
               AUTO_APP_LOG_FILE="McoSchedulerTool_Application.csv"
               APP_LOG_FILE="Application.csv"
               APP_RESULTS_FOLDER="D:\McoEasyTool\AppResultFiles\"
               APP_DEFAULT_INIT_FILE="DefaultInitApps.xlsx"
               APP_RELATIVE_INIT_FILE="InitApps.xlsx"
               APP_DEFAULT_INIT_FILE_README="DefaultInitAppsReadme.xlsx"
               
               SPACE_MAX_REPORT_NUMBER="21"
               AUTO_SPACE_LOG_FILE="McoSchedulerTool_Capacity_Planning.csv"
               SPACE_LOG_FILE="CapacityPlanning.csv"
               SPACE_RESULTS_FOLDER="D:\McoEasyTool\SpaceResultFiles\"
               SPACE_DEFAULT_INIT_FILE="DefaultInitSpaceServers.xlsx"
               SPACE_RELATIVE_INIT_FILE="InitSpaceServers.xlsx"
               SPACE_DEFAULT_INIT_FILE_README="DefaultInitSpaceServersReadme.xlsx"
               SPACE_DEFAULT_THRESHOLD="0.1"
               
               SPACE_USERNAME_IMPERSONNATION="srvpatrol35"
               SPACE_DOMAIN_IMPERSONNATION ="BCNDOMAIN"
               SPACE_PASSWORD_IMPERSONNATION="1hnVZfK6*HyNYFwN5YCodw!!"
               SPACE_MAX_CHARTS_LINES_NUMBER="14"
               SPACE_DEFAULT_LOCAL_MAPPED_DRIVE_LETTER="X"
               
               LOG_SIZE_LIMIT="100"
               
               DEFAULT_OCTECT_INCREMENT="1024"
               MCO_EASY_TOOL_BASE_URL="localhost:4875"
               MCO_EASY_TOOL_SITENAME="/"
/>

