@{Layout = null;}@model IEnumerable<dynamic>
<script type="text/javascript">
    jQuery(document).ready(function () {
        window.location = SITENAME;
    });
</script>

<span>

</span>
L'opération est terminée.
Appuyez sur précédent Pour revenir à l'application.