@{
    Layout = null;
}
    <h2 class="page-title">Vous avez des questions, remarques ou suggestions...</h2>
    <p class="page-title-info warning"></p>
    <h3 class="page-chapter-title">Contactez les développeurs de l'applications</h3>

    <section>
        <header>
            <h3 class="page-chapter-subtitle">Contacts:</h3>
        </header>
        <p>
            <span>&nbsp;&nbsp;Mobile:</span>
            <span>+212 6 38 91 61 63</span>
        </p>
    </section>

    <section>
        <header>
            <h3 class="page-chapter-subtitle">Email:</h3>
        </header>
        <p>
            <span>&nbsp;&nbsp;Support:</span>
            <span><a href="mailto:Support@example.com">Support@example.com</a></span>
        </p>
        <p>
            <span>&nbsp;&nbsp;Développeur:</span>
            <span><a href="mailto:a.gnamian@bouygues-construction.com">a.gnamian@bouygues-construction.com</a></span>
        </p>
    </section>

    <section>
        <header>
            <h3 class="page-chapter-subtitle">Adresse:</h3>
        </header>
        <p>
            &nbsp;&nbsp;Structis Maroc, CasaNearShore Park, Shore 13<br />
            &nbsp;&nbsp;Boulevevard Al Qod, Résidences Moustakbal
        </p>
    </section>


