@{Layout = null;}@model IEnumerable<dynamic>
<script type="text/javascript">
    jQuery(document).ready(function () {
        SPACE_CONTROLLER = "McoSpace/";
        SPACE_MODULE = "SPACE";

        $("#mco-space-div #Form1").attr("action", SITENAME + $("#mco-space-div #Form1").attr("action"));

        $("#mco-space-div #upload-file-path, #upload-launcher").click(function () {
            $("#mco-space-div .trueFile").trigger("click");
        });

        $("#mco-space-div .trueFile").change(function () {
            filepaths = $("#mco-space-div .trueFile").val().split("\\");
            filepath = filepaths[filepaths.length - 1];
            extension = filepath.split(".");
            if (extension[extension.length - 1].indexOf("xlsx") != -1) {
                $("#mco-space-div #upload-file-path").val(filepath);
            }
            else {
                alert("Veuillez sélectionner un ficher Excel au format xlsx");
            }
        });

        $("#mco-space-div #import-launcher").click(function () {
            if ($("#mco-space-div #upload-file-path").val().trim() != "") {
                imported = confirm("Voulez-vous réellement réinitialiser la base de donnée SPACE? \n" +
                    "Tous les Pools et Serveurs actuels seront remplacés par ceux contenus dans le fichier" +
                    "Uploadé.");
                if (imported) {
                    $("#mco-space-div .trueUploadButton").trigger("click");
                    SPACE_MCO_DIV.prepend(loadinggif);
                }
            }
            else {
                alert("Veuillez d'abord sélectionner un fichier au format xlsx");
                return false;
            }
        });

        $("#mco-space-div #download-launcher").click(function () {
            FileWindow = window.open(SITENAME + SPACE_CONTROLLER + 'DownloadInitFile/');
        });
    });
</script>
<hgroup>
    <h2 class="page-title">Alimentation de la base de données SPACE</h2>
</hgroup>
<p class="page-title-info warning"></p>
<div class="import-controls">
    <input id="download-launcher" type="button" class="imports-controls-btn" value="Modèle"
        title="Télécharger le fichier modèle"/>
    @using (Ajax.BeginForm("UploadInitFile", "McoSpace", new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <input id="file" name="file" type="file" class="hidden-imports-controls-btn trueFile" />
        <input type="submit" id="btnUpload" text="Upload" class="hidden-imports-controls-btn trueUploadButton" />
    }
    
    <input id="upload-file-path" type="text" class="imports-controls-btn input-file-info"
        title="Uploader votre fichier Excel contenant la liste des serveurs" readonly/>
    <input id="upload-launcher" type="button" class="imports-controls-btn input-file-btn" value="Choisissez"
        title="Uploader votre fichier Excel contenant la liste des serveurs"/>
    

    <input id="import-launcher" type="button" class="imports-controls-btn" value="Importer"
        title="Lancher l'importation maintenant"/>

        

    
    
</div>
<br />
<ol>
    <li>
        <h5 class="page-chapter-subtitle">Uploader un fichier</h5>
        L'alimentation de la base de données se fait via un fichier Excel contenant au moins <span class="warning">(01) une page.</span><br /><br />
        La page utilisée est nommée <span class="nav-info">Relevé SUP</span> contient:<br /><br />
        <span class="paragraph-info">
            Dans la première ligne "Serveurs", le nom des serveurs ou le nom des racines de partage <strong>(Ex: SERVER1 ou \\SERVER1)</strong>
        </span><br /><br />
        <span class="paragraph-info">
            Dans la seconde ligne, la lettre des partitions à vérifier précédée de <span class=nav-info">Disque </span> ou alors le chemin complet
            du partage <strong>(Exemple: "Disque I" ou "\\SERVER1\SHARE")</strong>
        </span><br /><br />
        <span class="paragraph-info">
            La troisième ligne est vide et existe par souci de lisibilité.
        </span><br /><br />
        <span class="paragraph-info">
            La quatrième et dernière ligne utile contient le seuil (en To) considéré pour la partition ou le partage correspondant. <strong>(EX: 0,1)</strong>.
        </span><br /><br />
    </li>
    <li>
        <span class="warning">
            Notons que les valeurs entrées dans ce fichier sont en To, cependant il faut éviter d'inscrire cette unité à côté des chiffres.<br />
            L'unité qui apparaît dans le fichier est le fruit de l'exécution de certaines règles de formattage <br />et n'existe pas réellement dans la
            valeur des cellules.<br /><br />

            A chaque partition ou partage rajouté, correspond une colonne jumelle masquée (par souci de lisibilité) contenant une répétition
            de la valeur du seuil.<br />
            Ces colonnes fantômes ne sont pas optionnelles et servent à tracer les graphes comparatifs générés dans cette analyse.
        </span>
    </li>
    <li>
        <h5 class="page-chapter-subtitle">Fichier modèle</h5>
        Afin de vous assurer de la validité de votre fichier, vous pouvez télécharger le fichier modèle
        et suivre son format?<br /> ou vous pouvez tout simplement le télécharger, le modifier à votre guise
        et l'uploader par la suite.
    </li>
    <li>
        <h5 class="page-chapter-subtitle">Importer</h5>
        Si vous êtes certain que votre fichier rempli tous les prérequis mentionnés ci-dessus,<br /> vous
        pouvez l'uploader et cliquer sur <span class="nav-info">Importer</span> afin de réinitialiser la base de données SPACE.
    </li>
</ol>

