@{Layout = null;}@model DotNet.Highcharts.Highcharts

<div id = "chart_container" style="position:absolute;  width:100%; height: 100%;">
</div>
<script src="/Scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="/Scripts/modernizr-2.5.3.js" type="text/javascript"></script>
<script src="/Scripts/highcharts.js" type="text/javascript"></script>
<script type="text/javascript">  
    $(function () {  
        $('#chart_container').highcharts({
            @{Model.GetOptions();}
        });  
        if ( $.browser.msie ) {
            IeFixTooltipBug();
        }

        function IeFixTooltipBug(){
            $(".highcharts-series").children().each(function(){
                $(this).attr("class","ToolTiper");
            });

            $(".ToolTiper").hover(function(){
                $(".highcharts-tooltip").css("visibility","visible");
            });

            $(".ToolTiper").mouseout(function(){
                $(".highcharts-tooltip").css("visibility","hidden");
            });
        }
        
    });  
</script>

