<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TRG_DBA_UPDATE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <TRG_DBA_UPDATE.Properties.Settings>
            <setting name="CONNECTION_STRING" serializeAs="String">
                <value>Data Source=AEGNAMIAN\SQLSERVER;Initial Catalog=McoEasyTool_v3_DB;Integrated Security=true;</value>
            </setting>
            <setting name="LOG_FILE" serializeAs="String">
                <value>D:\Temp\TRG_DBA_UPDATE_Log.csv</value>
            </setting>
            <setting name="TABLE_NAME" serializeAs="String">
                <value>Trigger_Log</value>
            </setting>
            <setting name="MEMO_FILE" serializeAs="String">
                <value>D:\Temp\TRG_DBA_UPDATE.csv</value>
            </setting>
            <setting name="MAIL_HOST_SERVER" serializeAs="String">
                <value>vipexch.bouygues-construction.com</value>
            </setting>
            <setting name="MAIL_PORT_NUMBER" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="MAIL_ADDRESS_SENDER" serializeAs="String">
                <value>Exploitation-Support@bouygues-construction.com</value>
            </setting>
            <setting name="MAIL_RECIPIENTS_LIST" serializeAs="String">
                <value>a.gnamian@bouygues-construction.com</value>
            </setting>
            <setting name="MAIL_BODY" serializeAs="String">
                <value>Aucune entrée n'a été trouvée; vérifiez que tout fonctionne correctement SVP.</value>
            </setting>
        </TRG_DBA_UPDATE.Properties.Settings>
    </applicationSettings>
</configuration>